@media (min-width: 320px) and (max-width: 480px) {
    * {
        outline: 1px solid red;
    }

    @font-face {
        font-family: Exo;
        src: url(../assets/font/Exo-Black.ttf);
    }

    @font-face {
        font-family: Digital Numbers;
        src: url(../assets/font/DeliusUnicase-Regular.ttf);
    }

    @keyframes card-ani {
        from {
            height: 86px;
        }
        to {
            height: 424px;
        }
    }

    .card {
        margin: 0 27px;
        height: auto;
        width: auto;
        background: #FFD336;
        border: 2px solid #000000;
        border-radius: 18px;
    }
    .card-head {
        display: flex;
        width: auto;
        height: auto;
    }
    .card-head img {
        cursor: pointer;
        box-sizing: border-box;
        width: 86px;
        height: 86px;
        border: 3px solid #000000;
        border-radius: 15px;
    }
    .card-head h3 {
        margin: 0 auto;
        font-family: monospace;
        font-weight: 400;
        font-size: 18px;
        line-height: 0px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    .card-head button {
        display: none;
    }

    .card-body {
        height: 197px;
        width: 266px;
        margin: 39px auto 0;
        border-radius: 40px 40px 20px 20px;
        border: 2px solid black;
    }

    .card-body h5 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 11px auto;
        width: 244px;
        height: 72px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #000000;
    }

    .card-body div {
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
    }

    .card-body img {
        width: 72px;
        height: 92px;
        border: 2px solid #000000;;
        border-radius: 20px;
    }

    @keyframes blcCardBody {
        from {
            width: 0;
            height: 0;
        }

        to {
            width: 266px;
            height: 197px;
        }
    }

    .card-body-active {
        height: 197px;
        width: 266px;
        margin: 39px auto 0;
        border-radius: 40px 40px 20px 20px;
        border: 2px solid black;

        animation-name: blcCardBody;
        animation-duration: 1s;
    }

    .card-open {
        margin: 0 27px;
        height: 424px;
        width: auto;
        background: #FFD336;
        border: 2px solid #000000;
        border-radius: 18px;

        animation-name: cardHeightUp;
        animation-duration: 1s;
    }
}