@media (min-width: 320px) and (max-width: 480px) {
  @font-face {
    font-family: Exo;
    src: url(../src/assets/font/Exo-Black.ttf);
  }
  @font-face {
    font-family: Gluten;
    src: url(../src/assets/font/Gluten-Black.ttf);
  }
  body {
    margin: 0 auto;
    overflow-x: hidden;
  }
  header {
    position: sticky;
    top: 0px;
    height: auto;
    width: auto;
    background: #FFD600;
  }
  .header-menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 63px;
  }
  .header-menu img {
    width: 142px;
    height: 49px;
    border-radius: 16px;
    border: 2px solid black;
  }
  .header-menu div {
    display: flex;
    width: auto;
    height: auto;
  }
  .but-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFE587;
    border: 0px solid black;
    height: 49px;
    width: 49px;
  }
  .but-add img {
    height: 45px;
    width: 45px;
    border: 0;
  }
  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 49px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-left: 20px;
  }
  .burger-menu img {
    height: 26px;
    width: 36px;
    border-radius: 0;
    border: 0;
  }
  main {
    width: auto;
    height: auto;
  }
  .landing-page {
    display: none;
  }
  .model-page {
    margin-top: 10px;
  }
  .model-page h1 {
    margin: 0;
    font-family: "Exo";
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.6em;
    color: #000000;
  }
  .main-model {
    width: auto;
    margin: 15px auto 45px;
  }
  .cards {
    display: grid;
    gap: 50px;
    height: auto;
    width: auto;
    margin: 0 auto;
  }
  .card {
    display: flex;
    height: auto;
    width: auto;
    margin: 0 27px;
    background: #FFD336;
    border: 2px solid #000000;
    border-radius: 18px;
  }
  .card img {
    box-sizing: border-box;
    width: 86px;
    height: 86px;
    border: 3px solid #000000;
    border-radius: 15px;
  }
  .card h3 {
    margin: 0 auto;
    font-family: monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  .main-block {
    margin: 0 auto;
    height: 555px;
    width: auto;
    border-bottom: 3px solid black;
  }
  .main-block section {
    height: 555px;
    width: auto;
    background: white;
  }
  .main-block section h1 {
    margin: 21px auto 0;
    width: auto;
    font-family: "Gluten";
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.4em;
    color: #000000;
  }
  .main-block section div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .main-block section div img {
    height: 298px;
    width: 115px;
  }
  .main-block section div p {
    margin: 0;
    height: 298px;
    width: auto;
    font-family: "Exo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
  }
  .but-wel {
    display: block;
    margin: 25px auto 0;
    height: 31px;
    width: 186px;
    background: #FFD600;
    border: 2px solid black;
    border-radius: 20px;
  }
  .but-wel h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: "Exo";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
  }
  .serv-block {
    margin: 0 auto;
    height: 604px;
    width: auto;
    border-bottom: 3px solid black;
  }
  .serv-block section {
    height: 604px;
    width: auto;
    background: white;
  }
  .serv-block section h2 {
    margin: 25px auto 0;
    font-family: "Exo";
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
  }
  .price-block {
    margin: 0 auto;
    height: 606px;
    width: auto;
  }
  .price-block section {
    height: 606px;
    width: auto;
    background: #FFD600;
  }
  .price-block section h2 {
    margin: 0 auto;
    font-family: "Exo";
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
  }
  .price-block section h3 {
    margin: 0;
    font-family: "Exo";
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.7em;
    font-variant: small-caps;
    color: #000000;
  }
  .table-price {
    height: auto;
    width: 219px;
    background: white;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
    margin: 23px 25px 0px 76px;
  }
  .table-price div {
    border: 1px solid black;
  }
  .block-price {
    display: grid;
    grid-template-columns: 108px 111px;
    grid-template-rows: 62px 62px;
  }
  .block-price img {
    width: 108px;
    height: 61px;
  }
  .block-price p {
    width: 109px;
    font-family: "Exo";
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    margin: 0;
  }
  .block-price h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px auto 10px;
    height: 30px;
    width: 50px;
    font-family: "Exo";
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #A71919;
  }
  .img-p {
    position: relative;
    width: 83px;
    height: 239.06px;
    left: 0px;
    bottom: 0;
  }
  .img-h {
    position: relative;
    width: 147.76px;
    height: 140.6px;
    right: 68.61px;
    bottom: 138px;
    transform: rotate(-26deg);
  }
  .block-type-1 {
    margin: 10px auto 0;
    height: auto;
    width: 301px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }
  .block-type-1 p {
    margin: 0;
    width: 256px;
    font-family: "Exo";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
  }
  .block-type-1 div {
    width: 45px;
    height: 45px;
    background: #C02A2A;
    border: 1px solid black;
  }
  .block-type-2 {
    margin: 20px auto 0;
    height: auto;
    width: 301px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  .block-type-2 p {
    margin: 0;
    width: 256px;
    font-family: "Exo";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
  }
  .block-type-2 div {
    width: 45px;
    height: 45px;
    background: #C02A2A;
    border: 1px solid black;
  }
  .img-1 {
    height: 131px;
    width: 156px;
    margin: 16px auto 0;
  }
  .img-1 img {
    height: 131px;
    width: 156px;
  }
  .img-2 {
    height: 113px;
    width: 186px;
    margin: 10px auto 0;
  }
  .img-2 img {
    height: 113px;
    width: 186px;
  }
  .pic-fon-1 {
    height: 245px;
    width: auto;
    background-image: url(../src/assets/image/image\ 6.png);
    background-size: cover;
  }
  .pic-fon-2 {
    height: 245px;
    width: auto;
    background-image: url(../src/assets//image/image\ 7.png);
    background-size: cover;
  }
  footer {
    background: black;
    width: auto;
    height: 134px;
  }
  .footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 134px;
    width: auto;
  }
  .partner {
    height: 102px;
    width: auto;
  }
  .partner h3 {
    margin: 0 auto;
    font-family: Exo;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: lowercase;
    text-align: center;
    color: #FFFFFF;
  }
  .partner img {
    height: 89px;
    width: 89px;
  }
  .connect {
    height: 110px;
    width: 216px;
    background: white;
    border: 0;
    border-radius: 25px;
  }
  .connect h4 {
    font-family: Exo;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    margin: 0;
    height: 27px;
    margin-top: 6px;
  }
  .connect div {
    display: grid;
    grid-template-columns: 32px 172px;
    grid-template-rows: 32px 32px;
    justify-content: center;
  }
  .connect div img {
    height: 32px;
    width: 32px;
    border: 1px solid black;
  }
  .connect div p {
    font-family: Exo;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    color: #000000;
    margin: 5px 0;
  }
}/*# sourceMappingURL=style.css.map */