@media (min-width: 320px) and (max-width: 480px) {
  @font-face {
    font-family: Exo;
    src: url(../src/assets/font/Exo-Black.ttf);
  }
  @font-face {
    font-family: Gluten;
    src: url(../src/assets/font/Gluten-Black.ttf);
  }
  body {
    margin: 0 auto;
    overflow-x: hidden;
  }
  header {
    position: sticky;
    top: 0px;
    z-index: 40;
    height: auto;
    width: auto;
    background: #FFD600;
    border-bottom: 1px solid black;
  }
  .header-menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 63px;
  }
  .header-menu img {
    width: 142px;
    height: 49px;
    border-radius: 16px;
    border: 2px solid black;
  }
  .header-menu div {
    display: flex;
    width: auto;
    height: auto;
  }
  .but-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFE587;
    border: 0px solid black;
    height: 49px;
    width: 49px;
  }
  .but-add img {
    height: 45px;
    width: 45px;
    border: 0;
  }
  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 49px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-left: 20px;
  }
  .burger-menu img {
    height: 26px;
    width: 36px;
    border-radius: 0;
    border: 0;
  }
  main {
    width: auto;
    height: auto;
  }
  .model-page {
    margin-top: 10px;
  }
  .model-page h1 {
    margin: 0;
    font-family: "Exo";
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.6em;
    color: #000000;
  }
  .main-model {
    width: auto;
    margin: 15px auto 45px;
  }
  .cards {
    display: grid;
    gap: 50px;
    height: auto;
    width: auto;
    margin: 0 auto;
  }
  .card {
    display: flex;
    height: auto;
    width: auto;
    margin: 0 27px;
    background: #FFD336;
    border: 2px solid #000000;
    border-radius: 18px;
  }
  .card img {
    box-sizing: border-box;
    width: 86px;
    height: 86px;
    border: 3px solid #000000;
    border-radius: 15px;
  }
  .card h3 {
    margin: 0 auto;
    font-family: monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  .main-block {
    margin: 0 auto;
    height: auto;
    width: auto;
    border-bottom: 3px solid black;
  }
  .main-block section {
    height: auto;
    width: auto;
    background: white;
    margin: 0 20px;
  }
  .main-block section h1 {
    margin: 21px auto 0;
    width: auto;
    font-family: "Gluten";
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.4em;
    color: #000000;
  }
  .main-block section div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .main-block section div img {
    height: 298px;
    width: 115px;
  }
  .main-block section div p {
    margin: 0;
    height: 298px;
    width: auto;
    font-family: "Exo";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
  }
  .but-wel {
    display: block;
    margin: 25px auto 35px;
    height: 31px;
    width: 186px;
    background: #FFD600;
    border: 2px solid black;
    border-radius: 20px;
  }
  .but-wel h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: "Exo";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
  }
  .serv-block {
    margin: 0 auto;
    height: auto;
    width: auto;
    border-bottom: 3px solid black;
  }
  .serv-block section {
    height: auto;
    width: auto;
    background: white;
    margin: 0 10px 20px;
  }
  .serv-block section h2 {
    margin: 25px 25px 0;
    font-family: "Exo";
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
  }
  .price-block {
    position: relative;
    margin: 0 auto;
    height: auto;
    width: auto;
    padding-top: 24px;
    background: #FFD600;
  }
  .price-block h1 {
    margin: 0px 25px 0;
    font-family: "Exo";
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
  }
  .price-block section {
    margin: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .price-block section img {
    width: 82px;
    height: 245px;
  }
  .tbl-prize {
    width: 219px;
    height: auto;
    background: white;
    border-radius: 20px 20px 0 0;
    outline: 1px solid black;
  }
  .tbl-prize th {
    height: 27px;
    width: auto;
  }
  .tbl-prize th p {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Exo;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7px;
    text-transform: uppercase;
  }
  .tbl-prize td {
    height: auto;
    width: 109px;
    outline: 1px solid black;
  }
  .tbl-prize td img {
    width: 109px;
    height: 60px;
    background-size: cover;
  }
  .tbl-prize td p {
    color: #000;
    text-align: center;
    font-family: Exo;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: lowercase;
    margin: 0;
  }
  .tbl-prize td h6 {
    color: #A71919;
    text-align: center;
    font-family: Exo;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.3px;
    text-decoration-line: underline;
    text-transform: lowercase;
    margin: 0;
  }
  .img-p {
    position: relative;
    width: 83px;
    height: 239.06px;
    left: 0px;
    bottom: 0;
  }
  .img-h {
    position: relative;
    width: 147.76px;
    height: 140.6px;
    right: 68.61px;
    bottom: 138px;
    transform: rotate(-26deg);
  }
  .block-type-1 {
    margin: 10px auto 0;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
  }
  .block-type-1 p {
    margin: 0 auto;
    width: 256px;
    font-family: "Exo";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
  }
  .block-type-1 div {
    width: 45px;
    height: 45px;
    background: #C02A2A;
    border: 1px solid black;
  }
  .block-type-2 {
    margin: 20px auto 0;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
  }
  .block-type-2 p {
    margin: 0 auto;
    width: 256px;
    font-family: "Exo";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
  }
  .block-type-2 div {
    width: 45px;
    height: 45px;
    background: #C02A2A;
    border: 1px solid black;
  }
  .img-1 {
    height: 131px;
    width: 156px;
    margin: 16px auto 0;
  }
  .img-1 img {
    height: 131px;
    width: 156px;
  }
  .img-2 {
    height: 113px;
    width: 186px;
    margin: 10px auto 0;
  }
  .img-2 img {
    height: 113px;
    width: 186px;
  }
  .pic-fon-1 {
    height: 245px;
    width: auto;
    background-image: url(../src/assets/image/image\ 6.png);
    background-size: cover;
  }
  .pic-fon-2 {
    height: 245px;
    width: auto;
    background-image: url(../src/assets//image/image\ 7.png);
    background-size: cover;
  }
  .works-page {
    margin: 10px 17px auto;
    height: auto;
    width: auto;
  }
  .works-page h1 {
    margin: 0;
    font-family: "Exo";
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.6em;
    color: #000000;
  }
  .works-page article {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 30px;
    justify-content: space-evenly;
    margin: 27px auto 60px;
    height: auto;
    width: auto;
  }
  .client-block {
    position: static;
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }
  .client-block .gender {
    position: absolute;
    right: 0px;
    bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    outline: 1px solid black;
    background: white;
  }
  .client-block .gender img {
    margin: 0 auto;
    height: auto;
    width: auto;
  }
  .client-block .h-clblock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20px;
    outline: 1px solid black;
  }
  .client-block .h-clblock h6 {
    color: #000;
    text-align: center;
    font-family: Exo;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 6px;
  }
  .account-page {
    width: auto;
    height: auto;
    background: #FFD600;
    padding-top: 17px;
    padding: 17px;
  }
  .account-page h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: auto;
    color: #000;
    text-align: center;
    font-family: Exo;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0 17px 17px;
    border-radius: 40px 40px 30px 30px;
    border: 2px solid #000;
  }
  .account-page article {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    padding: 30px 10px 44px;
  }
  .account-page article div {
    width: 82px;
    height: 103px;
    border-radius: 25px 25px 15px 15px;
    border: 1px solid #000;
  }
  .account-page article div img {
    width: 82px;
    height: 103px;
    border-radius: 25px 25px 15px 15px;
  }
  .last-works {
    height: auto;
    width: auto;
    padding: 10px 17px 36px;
  }
  .last-works h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 286px;
    height: 48px;
    color: #000;
    text-align: center;
    font-family: Exo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 14.4px;
  }
  .last-works article {
    margin-top: 17px;
    width: auto;
    height: auto;
  }
  .last-works article section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 30px 12px 17px;
  }
  .last-works article section div {
    width: 82px;
    height: 103px;
    border-radius: 20px;
    border: 1px solid #000;
  }
  .last-works article section div img {
    width: 82px;
    height: 103px;
    border-radius: 20px;
  }
  .last-works article p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 27px;
    width: auto;
    color: #000;
    text-align: center;
    font-family: Exo;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 15px;
  }
  footer {
    background: black;
    width: auto;
    height: 134px;
  }
  .footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 134px;
    width: auto;
  }
  .partner {
    height: 102px;
    width: auto;
  }
  .partner h3 {
    margin: 0 auto;
    font-family: Exo;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: lowercase;
    text-align: center;
    color: #FFFFFF;
  }
  .partner img {
    height: 89px;
    width: 89px;
  }
  .connect {
    height: 110px;
    width: 216px;
    background: white;
    border: 0;
    border-radius: 25px;
  }
  .connect h4 {
    font-family: Exo;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    margin: 0;
    height: 27px;
    margin-top: 6px;
  }
  .connect div {
    display: grid;
    grid-template-columns: 32px 150px;
    grid-template-rows: 32px 32px;
    justify-content: center;
  }
  .connect div img {
    height: 32px;
    width: 32px;
  }
  .connect div p {
    font-family: Exo;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    color: #000000;
    margin: 5px 0;
  }
}/*# sourceMappingURL=style.css.map */